################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Map4D/bin
/Map4D/obj/Debug
/Map4D/obj/Release
/packages
