################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Map4D/bin
/Map4D/obj/Debug
/packages
/Map4D/obj/Release
/Map4D/App_Data
/Map4D_Db/obj/Debug
/Map4D_Db/Map4D_Db.dbmdl
