<a class="scroll-to-top" href="#">
    <i class="fas fa-arrow-up"></i>
</a>
<div class="row text-center" id="footer">
    <p class="mx-auto">&copy; Copyright 2018  by <a href="#">IOTLink Company</a></p>
</div>