<a class="scroll-to-top" href="#">
    <i class="fas fa-arrow-up"></i>
</a>
<div class="row text-center" id="footer">
    <p class="mx-auto">&copy; Bản quyền năm 2018 từ <a href="#">Công ty IOTLink</a></p>
</div>