<a class="scroll-to-top" href="#">
    <i class="fas fa-arrow-up"></i>
</a>
<div class="row text-center" id="footer">
    <p class="mx-auto">&copy; @Map4D.Resources.My_texts.Bảnquyền <a href="http://www.iotlink.com.vn/" target="_blank">@Map4D.Resources.My_texts.CôngtyIOTLink</a></p>
</div>
