<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Map4D</title>
    <link href="~/Content/Client/img/logoMap4D.png" type="image/png" rel="shortcut icon" />
    <link href="~/Content/Client/bootstrap4.1.0/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    @RenderBody()
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Content/Client/bootstrap4.1.0/js/bootstrap.min.js"></script>
</body>
</html>
