@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "AdminHome";
    Layout = "~/Areas/Admin/Views/Shared/LayoutAdmin.cshtml";
}
<div class="row w-100 text-center">
    <h1 class="mx-auto"><small>Xin chào</small> Admin</h1>
    <img src="~/Content/Client/img/products/page-2_0002_Content-Slider-A-15-copy-3.png" class="w-100 img-responsive" />
</div>

