@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "AdminHome";
    Layout = "~/Areas/Admin/Views/Shared/LayoutAdmin.cshtml";
}
<div class="row w-100 text-center">
    <h1 class="mx-auto"><small>Xin chào</small> Admin</h1>
</div>

