<div class="row trucQuan" id="scroll-visual">
    <div class="col-xs-7 col-md-7 col-sm-12 col-xl-7 col-lg-7"></div>
    <div class="col-xs-5 col-md-5 col-sm-12 col-xl-5 col-lg-5 right">
        <img class="imgRight" src="~/Content/Client/img/icon_0001_icon.png" alt="Alternate Text" />
        <div class="content">
            <h4>3D trực quan</h4>
            <p>Không chỉ mang hình ảnh thực tế lên trên bản đồ 3D, ngoài ra còn cho phép tương tác và điều chỉnh các đối tượng 3D của bạn</p>
        </div>
    </div>
</div>
