<div class="row trucQuan mx-auto w-100" id="scroll-visual">
    <div class="col-xs-7 col-md-7 col-sm-12 col-xl-7 col-lg-7"></div>
    <div class="col-xs-5 col-md-5 col-sm-12 col-xl-5 col-lg-5 mx-auto right">
        <img class="imgRight mx-auto" src="~/Content/Client/img/icon_0001_icon.png" alt="Alternate Text" />
        <div class="content">
            <h4>@Map4D.Resources.My_texts.TrựcQuan3D</h4>
            <p>@Map4D.Resources.My_texts.KhôngChỉ</p>
        </div>
    </div>
</div>
