<div class="buildMap4D">
    <div class="top text-center">
        <p class="more">
            More than 1 million live location developers
        </p>
        <p class="build">build with Map4D</p>
    </div>
    <div class="row rowbottom">
        <div class="col-xs-4 col-lg-4 col-md-4 col-sm-4 col-xl-4">
            <img class="img-responsive" src="~/Content/Client/img/icon-page-1_0009_icon-bg-.png" />
        </div>
        <div class="col-xs-4 col-lg-4 col-md-4 col-sm-4 col-xl-4">
            <img class="img-responsive" src="~/Content/Client/img/icon-page-1_0009_icon-bg-.png" />
        </div>
        <div class="col-xs-4 col-lg-4 col-md-4 col-sm-4 col-xl-4">
            <img class="img-responsive" src="~/Content/Client/img/icon-page-1_0009_icon-bg-.png" />
        </div>
    </div>
</div>
