<div class="buildMap4D">
    <div class="top text-center">
        <h2 class="more">
            @Map4D.Resources.My_texts.Trảinghiệmcùngmap4D
        </h2>
        <h2 class="build">@Map4D.Resources.My_texts.Map4DDuocdonnhan</h2>
    </div>
    <div class="row mx-auto rowbottom">
        @for (int i = 0; i < 6; i++)
        {
            <div class="col-lg-4 col-md-6 col-sm-12 col-xl-4 boxBuild" id="@i">
                <div class="img w-100">
                    <div class="content row">
                        <div class="col-2 col-lg-2 col-md-2 col-xl-2 contentleft">
                            <img class="img-responsive divImg" src="~/Content/Client/img/man-one.jpg" alt="" />
                        </div>
                        <div class="col-10 col-lg-10 col-md-10 col-xl-10 contentRight">
                            <h5 class="name">Nguyễn Thanh Hương</h5>
                            <p class="cmt">Map4D thể hiện đầy đủ các công nghệ hiện đại từ không gian ảo tới hình ảnh thực tế được xây dựng trên nền tảng 3D</p>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
