<div class="buildMap4D">
    <div class="top text-center">
        <p class="more">
            More than 1 million live location developers
        </p>
        <p class="build">build with Map4D</p>
    </div>
    <div class="row rowbottom">
        <div class="col-lg-4 col-md-4 col-sm-12 col-xl-4 img">
            <div class="content">
                <span class="contenttop">DESIGN</span>
                <h2 class="chutren">Tests Go First.Usability Testing in Design.</h2>
                <p class="chuduoi">Contrary to popular belief, Lorem Ipsum is not simply random text</p>
                <div class="row ContentBottom">
                    <div>
                        <img class="img-responsive divimgTron" src="#" alt="" />
                        <div class="divNameRight">
                            <p class="nameTop">Ben Doring</p>
                            <p class="nameBottom">Otc 27- 8 Minutes read</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xl-4 img divgiua">
            <div class="content">
                <span class="contenttop">WRITING TIPS</span>
                <h2 class="chutren">7 tips for writing more compelling case studies.</h2>
                <p class="chuduoi">Contrary to popular belief, Lorem Ipsum is not simply random text</p>
                <div class="row ContentBottom">
                    <div>
                        <img class="img-responsive divimgTron" src="#" alt="" />
                        <div class="divNameRight">
                            <p class="nameTop">Wenke Arnold</p>
                            <p class="nameBottom">Otc 27- 8 Minutes read</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xl-4 img">
            <div class="content">
                <span class="contenttop">DESIGN</span>
                <h2 class="chutren">The 7 Kinds of Data Visualazition People.</h2>
                <p class="chuduoi">Contrary to popular belief, Lorem Ipsum is not simply random text</p>
                <div class="row ContentBottom">
                    <div>
                        <img class="img-responsive divimgTron" src="#" alt="" />
                        <div class="divNameRight">
                            <p class="nameTop">Artur Peters</p>
                            <p class="nameBottom">Otc 27- 8 Minutes read</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
