<div class="buildMap4D">
    <div class="top text-center">
        <h2 class="more">
            @Map4D.Resources.My_texts.Trảinghiệmcùngmap4D
        </h2>
        <h2 class="build">@Map4D.Resources.My_texts.Map4DDuocdonnhan</h2>
    </div>
    <div class="row mx-auto rowbottom">
        <div class="col-lg-4 col-md-4 col-sm-12 col-xl-4 boxBuild">
            <div class="img w-100">
                <div class="content row">
                    <div class="col-2 col-lg-2 col-md-12 col-xl-2">
                        <img class="img-responsive divImg" src="~/Content/Client/img/man-one.jpg" alt="" />
                    </div>
                    <div class="col-10 col-lg-10 col-md-12 col-xl-10 contentRight">
                        <h5 class="name">Nguyễn Văn Linh</h5>
                        <p class="cmt">Tính năng rất hữu ích và tiện dụng đối với tài xế chúng tôi</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xl-4 boxBuild">
            <div class="img w-100">
                <div class="content row">
                    <div class="col-2 col-lg-2 col-md-12 col-xl-2">
                        <img class="img-responsive divImg" src="~/Content/Client/img/man-one.jpg" alt="" />
                    </div>
                    <div class="col-10 col-lg-10 col-md-12 col-xl-10 contentRight">
                        <h5 class="name">Trần Văn Duy</h5>
                        <p class="cmt">Chúng tôi đặc biệt ấn tượng với chức năng hiển thị bản đồ theo thời gian</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xl-4 boxBuild">
            <div class="img w-100">
                <div class="content row">
                    <div class="col-2 col-lg-2 col-md-12 col-xl-2">
                        <img class="img-responsive divImg" src="~/Content/Client/img/man-one.jpg" alt="" />
                    </div>
                    <div class="col-10 col-lg-10 col-md-12 col-xl-10 contentRight">
                        <h5 class="name">Mr Robbert</h5>
                        <p class="cmt">"It is amazing"</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xl-4 boxBuild">
            <div class="img w-100">
                <div class="content row">
                    <div class="col-2 col-lg-2 col-md-12 col-xl-2">
                        <img class="img-responsive divImg" src="~/Content/Client/img/man-one.jpg" alt="" />
                    </div>
                    <div class="col-10 col-lg-10 col-md-12 col-xl-10 contentRight">
                        <h5 class="name">Nguyễn Thanh Hương</h5>
                        <p class="cmt">Map4D thể hiện đầy đủ các công nghệ hiện đại từ không gian ảo tới hình ảnh thực tế được xây dựng trên nền tảng 3D</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xl-4 boxBuild">
            <div class="img w-100">
                <div class="content row">
                    <div class="col-2 col-lg-2 col-md-12 col-xl-2">
                        <img class="img-responsive divImg" src="~/Content/Client/img/man-one.jpg" alt="" />
                    </div>
                    <div class="col-10 col-lg-10 col-md-12 col-xl-10 contentRight">
                        <h5 class="name">Trần Văn Qúy</h5>
                        <p class="cmt">"Good plans.Awesome work"</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xl-4 boxBuild">
            <div class="img w-100">
                <div class="content row">
                    <div class="col-2 col-lg-2 col-md-12 col-xl-2">
                        <img class="img-responsive divImg" src="~/Content/Client/img/man-one.jpg" alt="" />
                    </div>
                    <div class="col-10 col-lg-10 col-md-12 col-xl-10 contentRight">
                        <h5 class="name">Nguyễn Đăng Tài Hoa</h5>
                        <p class="cmt">"Good plans.Awesome work"</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
