<div class="buildMap4D w-100">
    <div class="top text-center">
        <h2 class="more pb-1">
            @Map4D.Resources.My_texts.Trảinghiệmcùngmap4D
        </h2>
        <h2 class="build pb-1">@Map4D.Resources.My_texts.Map4DDuocdonnhan</h2>
    </div>
    <div class="row mx-auto container rowbottom pt-1 pb-3 pl-5 pr-5">
        <div class="col-2 boxBuild">
            <img src="~/Content/Client/img/logodoitac/Untitled-1_0002_iot-link-.png" class="w-60 mx-auto img-responsive" />
        </div>
        <div class="col-2 boxBuild">
            <img src="~/Content/Client/img/logodoitac/Untitled-1_0003_empire-.png" class="w-100 img-responsive" />
        </div>
        <div class="col-2 boxBuild">
            <img src="~/Content/Client/img/logodoitac/Untitled-1_0004_Co.png" class="w-100 img-responsive" />
        </div>
        <div class="col-2 boxBuild">
            <img src="~/Content/Client/img/logodoitac/Untitled-1_0005_iot-link-.png" class="w-100 img-responsive" />
        </div>
        <div class="col-2 boxBuild">
            <img src="~/Content/Client/img/logodoitac/Untitled-1_0006_download.png" class="w-100 img-responsive" />
        </div>
        <div class="col-2 boxBuild">
            <img src="~/Content/Client/img/logodoitac/Untitled-1_0007_dananglogo-.png" class="w-100 w-100 img-responsive" />
        </div>
    </div>
    <div class="row mx-auto  container rowbottom pl-5 pr-5">
        <div class="col-2 boxBuild">
            <img src="~/Content/Client/img/logodoitac/Untitled-1_0000_bo-xay-dung-logo-.png" class="w-100 img-responsive" />
        </div>
        <div class="col-2 boxBuild">
            <img src="~/Content/Client/img/logodoitac/Untitled-1_0001_cocobay-.png" class="w-100 img-responsive" />
        </div>
        <div class="col-2 boxBuild">
            <img src="~/Content/Client/img/logodoitac/Untitled-1_0008_Layer-1.png" class="w-100 img-responsive" />
        </div>
        <div class="col-2 boxBuild">
            <img src="~/Content/Client/img/logodoitac/Untitled-1_0009_anh-khue-logo-.png" class="w-100 img-responsive" />
        </div>
        <div class="col-2 boxBuild">
            <img src="~/Content/Client/img/logodoitac/Untitled-1_0010_viettel-logo.png" class="w-100 img-responsive" />
        </div>
        <div class="col-2 boxBuild">
            <img src="~/Content/Client/img/logodoitac/Untitled-1_0011_dn.png" class="w-100 img-responsive" />
        </div>
    </div>
</div>
