@section css{
    <link rel="stylesheet" type="text/css" href="~/Content/Client/css/commingsoon.css" />
}
<body>
    <div class="bg">
        <p>@Map4D.Resources.My_texts.ThôngCảm</p>
        <p class="p2">@Map4D.Resources.My_texts.Dangxaydung</p>
        <p class="p3">@Map4D.Resources.My_texts.Camondaquantam</p>
    </div>
</body>
</html>
