<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" type="text/css" href="~/Content/Client/css/commingsoon.css" />
    <title></title>
</head>
<body>
    <div class="bg">
        <p>@Map4D.Resources.My_texts.ThôngCảm</p>
        <p class="p2">@Map4D.Resources.My_texts.Dangxaydung</p>
        <p class="p3">@Map4D.Resources.My_texts.Camondaquantam</p>
    </div>
</body>
</html>