<div class="row createMobileApps" id="scroll-multi-platform">
    <div class="col-xs-6 col-lg-6 col-md-6 col-sm-12 col-xl-6 left">
        <div class="content">
            <img src="~/Content/Client/img/icon-page-1_0008_phone-text-icon-.png" class="img-responsive imgIP" alt="Alternate Text" />
            <h2 class="create">Create</h2>
            <h2 class="mobileapps">Mobile Apps</h2>
            <p class="contrary">ConTrary to popular belief, Lorem Ipsum is not simply random text.It has roots in a piece of classical Latin literature</p>
        </div>

    </div>
    <div class="col-xs-6 col-lg-6 col-md-6 col-sm-12 col-xl-6 right">
        <img class="imgPhone img-responsive" src="~/Content/Client/img/icon-page-1_0007_mockup-phone-route-Repair-.png" alt="Alternate Text" />
    </div>
</div>
