<div class="row createMobileApps" id="scroll-multi-platform">
    <div class="col-xs-6 col-lg-6 col-md-6 col-sm-12 col-xl-6 left">
        <div class="content">
            <img src="~/Content/Client/img/icon-page-1_0008_phone-text-icon-.png" class="img-responsive imgIP" alt="Alternate Text" />
            <h2 class="tittle">@Map4D.Resources.My_texts.ĐaNềnTảng</h2>
            <h2 class="webmobile">(Web & Mobile)</h2>
            <p class="contrary">@Map4D.Resources.My_texts.HỗTrợỨngDụng</p>
        </div>

    </div>
    <div class="col-xs-6 col-lg-6 col-md-6 col-sm-12 col-xl-6 right">
        <img class="imgPhone img-responsive" src="~/Content/Client/img/icon-page-1_0007_mockup-phone-route-Repair-.png" alt="Alternate Text" />
    </div>
</div>
