<div class="row direction w-100 mx-auto" id="scroll-direct">
    <div class="col-xs-6 col-lg-6 col-md-6 col-sm-6 col-xl-6 left">
    </div>
    <div class="col-xs-6 col-lg-6 col-md-6 col-sm-6 col-xl-6 right pl-0">
        <div class="content">
            <img class="img-responsive img" src="~/Content/Client/img/icon-page-1_0005_location-text-icon-.png" alt="Alternate Text" />
            <h2 class="tittle">@Map4D.Resources.My_texts.ĐếnMọiNơiThậtDễDàng</h2>
            <p class="contrary">@Map4D.Resources.My_texts.TínhNăngDẫnĐường</p>
        </div>
    </div>
</div>