<div class="row direction">
    <div class="col-xs-6 col-lg-6 col-md-6 col-sm-6 col-xl-6 left">

    </div>
    <div class="col-xs-6 col-lg-6 col-md-6 col-sm-6 col-xl-6 right">
        <div class="content">
            <img class="img-responsive img" src="~/Content/Client/img/icon-page-1_0005_location-text-icon-.png" alt="Alternate Text" />
            <h2 class="direction1">Đến mọi nơi thật dễ dàng</h2>
            @*<h2 class="gettherefaster">Get there faster</h2>*@
            <p class="contrary">Tính năng dẫn đường giúp bạn đến mọi nơi mà không cần phải biết chính xác địa điểm.Map 4D tự động tính toán tìm đường đi ngắn nhất giữa nhiều điểm trên bản đồ, hỗ trợ đầy đủ các loại phương tiện (đi bộ, xe đạp, xe máy, ô tô).</p>
        </div>
    </div>
</div>