<div class="row direction">
    <div class="col-xs-6 col-lg-6 col-md-6 col-sm-6 col-xl-6 left">

    </div>
    <div class="col-xs-6 col-lg-6 col-md-6 col-sm-6 col-xl-6 right">
        <div class="content">
            <img class="img-responsive img" src="~/Content/Client/img/icon-page-1_0005_location-text-icon-.png" alt="Alternate Text" />
            <p class="direction1">Direction</p>
            <p class="gettherefaster">Get there faster</p>
            <p class="contrary">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature.</p>
        </div>

    </div>
</div>