@{
    Layout = null;
}
<div class="row w-100" id="get-in-touch">
    <div class="col-md-12 text-center" id="get-in-touch-title">
        <h1>Get in touch</h1>
    </div>
    <div class="col-md-12 text-center" id="get-in-touch-icon">
        <a href="#"><i class="fab fa-facebook-f"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-pinterest-p"></i></a>
    </div>
    <div class="col-12 text-center" id="get-in-touch-form">
        <div class="input-group col-md-5 mx-auto text-center">
            <input type="text" name="name" value="" placeholder="YourName" />
            <input type="text" name="name" value="" placeholder="YourEmail" />
            <input type="text" name="name" value="" placeholder="Subject" />
            <input type="text" name="name" value="" placeholder="Message" />
        </div>
        <input type="submit" name="name" value="Send" class="btn btn-success" />
    </div>
</div>