@{
                /**/

                Layout = null;
}
<div class="row w-100" id="map-box">
    <div class="col-md-12 text-center" id="map-box-title">
        <h1>Nền tảng Map4D</h1>
    </div>
    <div class="row container mx-auto" id="map-box-content">
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
            <a href="javascript:;" id="visual">
                <div class="col-md-12 mx-auto text-center map-box-item">
                    <img id="f" src="~/Content/Client/img/icon_0007_3d-Icon.png" />
                    <h5>3D trực quan</h5>
                </div>
            </a>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
            <a href="#" id="multi-platform">
                <div class="col-md-12 mx-auto text-center map-box-item">
                    <img src="~/Content/Client/img/icon_0005_website--copy-2.png" />
                    <h5>Đa nền tảng</h5>
                </div>
            </a>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
            <a href="#sroll-direct" id="direct">
                <div class="col-md-12 mx-auto text-center map-box-item">
                    <img src="~/Content/Client/img/icon_0003_location.png" />
                    <h5>Chỉ đường</h5>
                </div>
            </a>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
            <a href="#web-app-relity" id="utilities">
                <div class="col-md-12 mx-auto text-center map-box-item">
                    <img src="~/Content/Client/img/icon_0001_Tiện-ích-địa-điểm.png" />
                    <h5>Tiện ích địa chỉ</h5>
                </div>
            </a>
        </div>
    </div>
</div>