
@{
    /**/

    Layout = null;
}
<div class="row w-100" id="slideMap">
    <div id="carouselExampleIndicators" data-interval="0" class="carousel slide row w-100" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="divTop row">
                    <div class="content col-md-12">
                        <h3>MAPS</h3>
                        <p>Choose a map style or completely customize your own map and data</p>
                    </div>
                    <div class="row divBottom col-12">
                        <div class="imgKinhLup">
                            <img class="kinhlupdefault w-100 img-responsive" src="~/Content/Client/img/products/page-2_0007_kinh-lup.png" />
                            <img class="kinhlup img-responsive w-100" src="~/content/client/img/products/page-2_0007_kinh-lup-khong-nen2.png" />
                            <div id="myresult1" class="img-zoom-result"></div>
                        </div>
                        <img class="img-responsive imgDt" id="dt1" src="~/Content/Client/img/products/page-2_0006_Bg.png"  alt="" />
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="divTop row">
                    <div class="content col-md-12">
                        <h3>MAPS</h3>
                        <p>Choose a map style or completely customize your own map and data</p>
                    </div>
                    <div class="row divBottom col-12">
                        <div class="imgKinhLup">
                            <img class="kinhlupdefault w-100 img-responsive" src="~/Content/Client/img/products/page-2_0007_kinh-lup.png" />
                            <img class="kinhlup img-responsive w-100" src="~/Content/Client/img/products/page-2_0007_kinh-lup-khong-nen2.png" />
                            <div id="myresult2" class="img-zoom-result"></div>
                        </div>
                        <img class="img-responsive imgDt" id="dt2" src="~/Content/Client/img/products/page-2_0006_Bg.png"  alt=""/>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="divTop row">
                    <div class="content col-md-12">
                        <h3>MAPS</h3>
                        <p>Choose a map style or completely customize your own map and data</p>
                    </div>
                    <div class="row divBottom col-12">
                        <div class="imgKinhLup">
                            <img class="kinhlupdefault w-100 img-responsive" src="~/Content/Client/img/products/page-2_0007_kinh-lup.png" />
                            <img class="kinhlup img-responsive w-100" src="~/content/client/img/products/page-2_0007_kinh-lup-khong-nen2.png" />
                            <div id="myresult3" class="img-zoom-result"></div>
                        </div>
                        <img class="img-responsive imgDt" id="dt3" src="~/Content/Client/img/products/page-2_0006_Bg.png"  alt=""/>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</div>