@{
    Layout = null;
}
<div class="row w-100" id="search">
    <div class="text-up w-100">
        <h1>Search to <br />Discover the city</h1>
    </div>
    <div class="text-down w-100 text-center">
        <p><a href="#"><u>Signup</u></a> now and discover thousand of usefull as well as reliable business</p>
    </div>
</div>
