
@{
    ViewBag.Title = "Products";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section css{
    <link href="~/Content/Client/css/products/styleSearchGeoDirect.css" rel="stylesheet" />
}
<h2>Products</h2>
@RenderPage("ProductsSearchGeoDirect.cshtml")
@section scripts{
}
