<div class="row mobileApp w-100">
    <div class="col-lg-8 col-xl-8 col-md-8 col-sm-12 left">
        <img class="img-responsive w-100" src="~/Content/Client/img/products/page-2_0001_Content-Slider-A-15-copy-3.png" />
    </div>
    <div class="col-lg-4 col-xl-4 col-md-4 col-sm-12 right">
        <img src="~/Content/Client/img/icon-page-1_0003_Left.png" />
        <div class="content">
            <h3>MOBILE APPS</h3>
            <p>Contrary to popular belief, Lorem Ipsum is not simply random text.It has roots in a piece of classical Latin literature</p>
        </div>
    </div>
</div>
