@{
    Layout = null;
}
<div class="row w-100" id="search">
    <div class="text-up w-100">
        <h1>Search to <br />Discover the city</h1>
    </div>
    <div class="text-down w-100 text-center">
        <p><a href="#"><u>Signup</u></a> now and discover thousand of usefull as well as reliable business</p>
    </div>
</div>
<div class="row w-100" id="geocoding">
    <div class="content">
        <h1>GEOCODING</h1>
        <p>Turn your coordinates into addresses or addresses into coordinates with our geocoding AP</p>
    </div>
</div>
<div class="row w-100" id="direction">
    <div class="col-sm-7 col-md-8 direct-img">
        <img class="img-responsive" src="~/Content/Client/img/products/page-2_0002_Content-Slider-A-15-copy-3.png" alt="Alternate Text" />
    </div>
    <div class="col-sm-5 col-md-4 content">
        <img src="~/Content/Client/img/icon-page-1_0005_location-text-icon-.png" />
        <h1>DIRECTION</h1>
        <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature.</p>
    </div>
</div>