<div class="row webApp" id="scroll-multi-platform">
    <div class="col-xs-6 col-lg-6 col-md-6 col-sm-12 col-xl-6 left">
        <div class="content">
            <img src="~/Content/Client/img/icon-page-1_0008_phone-text-icon-.png" class="img-responsive imgIP" alt="Alternate Text" />
            <h1 class="tittle">WEB APPS</h1>

            <p class="contrary">@Map4D.Resources.My_texts.HỗTrợỨngDụng</p>
        </div>       
    </div>    
</div>
