
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section css {
    <link href="~/Content/Client/css/register.css" rel="stylesheet" />
}
<div class="row registerUser">
    <h2 class="col-12 text-center">Đăng ký</h2>
    <div class="form-group col-lg-5 col-xl-4 col-md-6 col-sm-9 boxRegister">
        <input type="text" class="form-control" name="name" value="" placeholder="Tên đăng nhập" />
        <input type="text" class="form-control" name="name" value="" placeholder="Email" />
        <input type="password" class="form-control" name="name" value="" placeholder="Mật khẩu" />
        <div class="divBottom">
            <a class="col-6" href="#">Đã có tài khoản</a>
            <button class="col-4 float-right btn">Đăng nhập</button>
        </div>
    </div>
</div>

