@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SendMailRegister</title>
    <link href="~/Content/Client/bootstrap4.1.0/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Admin/bower_components/font-awesome/css/all.css" rel="stylesheet" />
    <link href="~/Content/Client/css/styleSendMailRegister.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div class="mx-auto col-md-8 text-center mail-box">
            <div class="row">
                <label id="box-logo">
                    <img class="img-responsive w-75" src="~/Content/Client/img/icon-page-1_0022_logo-map-4d.png" alt="" />
                </label>
                <span>Map 4D</span>
            </div>
        </div>
    </div>

    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Content/Client/bootstrap4.1.0/js/bootstrap.min.js"></script>
</body>
</html>
