
@{
    Layout = null;
}
<div class="row" id="wrap-slide">
    <div id="carouselExampleIndicators" class="carousel slide row" data-interval="0" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="row">
                    <div class="col-xs-6 col-sm-6  col-md-6 col-lg-6 col-xl-6 image-slide">
                        <img class="img-responsive w-100" src="~/Content/Client/img/icon-page-1_0019_picture-mockup-.png" />
                    </div>
                    <div class="col-xs-6 col-md-6 col-sm-6 col-lg-6 col-xl-6 content-slide">
                        <div class="col-md-9">
                            <h1>Explor. Movie. Connect.</h1>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi nam ipsa, pariatur voluptatibus vitae dolorum animi aut eveniet nisi voluptates.</p>
                            <a href="#" class="btn">Explorer</a>
                            @*<a href="#" class="btn-arrow">
                                <img src="~/Content/Client/img/icon-page-1_0018_arrow.png" />
                            </a>*@
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="row">
                    <div class="col-xs-6 col-sm-6  col-md-6 col-lg-6 col-xl-6 image-slide">
                        <img class="img-responsive w-100" src="~/Content/Client/img/icon-page-1_0019_picture-mockup-.png" />
                    </div>
                    <div class="col-xs-6 col-md-6 col-sm-6 col-lg-6 col-xl-6 content-slide">
                        <div class="col-md-9">
                            <h1>Explor. Movie. Connect.</h1>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi nam ipsa, pariatur voluptatibus vitae dolorum animi aut eveniet nisi voluptates.</p>
                            <a href="#" class="btn">Explorer</a>
                            @*<a href="#" class="btn-arrow">
                                <img src="~/Content/Client/img/icon-page-1_0018_arrow.png" />
                            </a>*@
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="row">
                    <div class="col-xs-6 col-sm-6  col-md-6 col-lg-6 col-xl-6 image-slide">
                        <img class="img-responsive w-100" src="~/Content/Client/img/icon-page-1_0019_picture-mockup-.png" />
                    </div>
                    <div class="col-xs-6 col-md-6 col-sm-6 col-lg-6 col-xl-6 content-slide">
                        <div class="col-md-9">
                            <h1>Explor. Movie. Connect.</h1>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi nam ipsa, pariatur voluptatibus vitae dolorum animi aut eveniet nisi voluptates.</p>
                            <a href="#" class="btn">Explorer</a>
                            @*<a href="#" class="btn-arrow">
                                <img src="~/Content/Client/img/icon-page-1_0018_arrow.png" />
                            </a>*@
                        </div>
                    </div>
                </div>
            </div>     
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
