@{
    Layout = null;
}
<div class="row w-100" id="web-app-relity">
    <div class="col-md-6" id="web-app-relity-content">
        <img src="~/Content/Client/img/icon-page-1_0003_Left.png" />
        <div class="col-md-10">
            <h3>Web Apps <span>Relity</span></h3>
            <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature.</p>
        </div>
    </div>
    <div class="col-md-6" id="web-app-relity-img">
        <img class="img-responsive" src="~/Content/Client/img/icon-page-1_0002_Web-Apps-.png" />
    </div>
</div>