@{
    Layout = null;
}
<div class="row w-100 web-app-relity" id="scroll-utilities">
    <div class="col-md-6" id="web-app-relity-content">
        <img src="~/Content/Client/img/icon-page-1_0003_Left.png" />
        <div class=" col-9 col-md-8">
            <h3>
                @Map4D.Resources.My_texts.Khámphá
            </h3>
            <p>@Map4D.Resources.My_texts.MỗiĐiaiemBanToi</p>
        </div>
    </div>
    <div class="col-md-6 text-right" id="web-app-relity-img">
        <img class="img-responsive" src="~/Content/Client/img/imac.png" />
    </div>
</div>