.mobileApp {
    background-color: #f4f4f4;
    margin: 0 auto;
}

    .mobileApp .left {
        padding-top: 5%;
        padding-bottom: 6%;
    }

    .mobileApp .right {
        padding-top: 12%;
    }

        .mobileApp .right .content {
            padding-left: 4%;
        }

            .mobileApp .right .content h3 {
                font-size: 45.35px;
                font-family: 'UTM Avo';
            }

            .mobileApp .right .content p {
                font-size: 14px;
                font-family: 'Myanmar Text';
                padding-right: 26%;
            }

@media only screen and (max-width: 1033px) {
    .mobileApp .right .content h3 {
        font-size: 40px;
    }

    .mobileApp .right .content p {
        padding-right: 6%;
    }

    .mobileApp .right img {
        width: 40%;
    }
}

@media only screen and (max-width: 891px) {
    .mobileApp .right .content h3 {
        font-size: 38px;
    }
}

@media only screen and (max-width: 860px) {
    .mobileApp .right .content h3 {
        font-size: 32px;
    }

    .mobileApp .right .content p {
        font-size: 12px;
    }
}

@media only screen and (max-width: 767px) {
    .mobileApp .left {
        max-width: 60% !important;
    }

    .mobileApp .right {
        margin-left: 0%;
        padding-left: 0%;
        max-width: 40% !important;
    }

        .mobileApp .right .content {
            padding-left: 0%;
        }
}

@media only screen and (max-width: 625px) {
    .mobileApp .right .content h3 {
        font-size: 20px;
    }

    .mobileApp .right .content p {
        font-size: 12px;
    }
}

@media only screen and (max-width: 575px) {
    .mobileApp .left {
        max-width: 100% !important;
    }

    .mobileApp .right {
        text-align: center;
        padding-right: 0%;
        max-width: 100% !important;
    }

        .mobileApp .right img {
            width: 26%;
        }

        .mobileApp .right .content p {
            padding-left: 10%;
            padding-right: 10%;
        }
}
