#search {
    background-image: url("/Content/Client/img/products/page-2_0004_bg-laptop-.png");
    background-size: cover;
    margin-left: 0;
    margin-right: 0;
    background-position: center;
}

    #search div.text-up {
    }

        #search div.text-up h1 {
            font-family: "UTM Avo";
            font-size: 45px;
            color: white;
            padding-top: 20%;
            padding-left: 29%;
        }

    #search div.text-down p {
        padding-top: 10%;
        padding-bottom: 4%;
        font-family: 'Myriad Pro';
        font-size: 15px;
    }

#geocoding {
    margin-left: 0;
    margin-right: 0;
    background-image: url("/Content/Client/img/products/page-2_0003_Layer-2.png");
    background-size: cover;
    background-position: 20%;
}

    #geocoding div.content {
        padding: 25% 0 14% 20%;
    }

        #geocoding div.content h1 {
            font-family: 'UTM Avo';
            font-size: 45px;
        }

        #geocoding div.content p {
            font-family: 'Myriad Pro';
            font-size: 18px;
            width: 60%;
        }

#direction {
    margin-left: 0;
    margin-right: 0;
}

    #direction div.direct-img {
        padding-left:0;
        padding-right:0;
    }
    #direction div.direct-img img {
        width: 100%;
    }

    #direction div.content img {
        padding-top: 25%;
    }

    #direction div.content h1 {
        font-family: 'UTM Avo';
        font-size: 45px;
        color: #495d77;
        padding-top: -3%;
    }

    #direction div.content p {
        font-family: 'Myriad Pro';
        font-size: 14px;
        color: #495d77;
        width: 80%;
    }

@media only screen and (max-width: 1100px) {
    #search div.text-up h1 {
        padding-left: 28%;
    }

    #direction div.content img {
        padding-top: 20%;
    }
}

@media only screen and (max-width: 1033px) {

    #search div.text-up h1, #geocoding div.content h1, #direction div.content h1 {
        font-size: 40px;
    }

    #search div.text-down p {
        font-size: 13px;
    }

    #geocoding div.content p {
        font-size: 16px;
    }

    #direction div.content img {
        width: 40%;
    }
}

@media only screen and (max-width: 860px) {
    #search div.text-up h1, #geocoding div.content h1, #direction div.content h1 {
        font-size: 32px;
    }

    #search div.text-down p {
        font-size: 11px;
    }

    #geocoding div.content p {
        font-size: 14px;
    }

    #direction div.content p {
        font-size: 12px;
    }
}

@media only screen and (max-width: 625px) {
    #search div.text-up h1, #geocoding div.content h1, #direction div.content h1 {
        font-size: 20px;
    }

    #search div.text-down p {
        font-size: 6px;
    }
}

@media only screen and (max-width: 600px) {
    #geocoding {
        background-position: 60%;
    }

        #geocoding div.content {
            padding-left: 10%;
        }

            #geocoding div.content p {
                width: 50%;
            }
}

@media only screen and (max-width: 575px) {
    #direction div.content {
        width: 100%;
        text-align: center;
    }

        #direction div.content img {
            padding-top: 0;
            width: 30%;
        }

        #direction div.content p {
            margin: auto;
        }
}

@media only screen and (max-width: 400px) {
    #search div.text-up h1 {
        padding-top: 25%;
        padding-left: 22%;
    }
}
