#search {
    background-image: url("/Content/Client/img/products/page-2_0004_bg-laptop-.png");
    background-size: cover;
    margin-left: 0;
    margin-right: 0;
    background-position:center;
}

    #search div.text-up {
    }

        #search div.text-up h1 {
            font-family: "UTM Avo";
            font-size: 45px;
            color: white;
            padding-top:20%;
            padding-left:30%;
        }

    #search div.text-down p{
        padding-top:10%;
        padding-bottom:4%;
    }