@font-face {
    font-family: 'UTM Avo';
    src: url('../../../fonts/UTM Avo.ttf') format('truetype');
}

@font-face {
    font-family: 'MYRIADPRO-REGULAR';
    src: url('../../../fonts/MYRIADPRO-REGULAR.woff') format('woff');
}

.buildMap4D {
    background-image: url("/Content/Client/img/icon-page-1_0006_Grey-Bg_Repair4.png");
    background-repeat: no-repeat;
    background-size: cover;
}

    .buildMap4D .rowbottom {
        padding-left: 15%;
        padding-right: 15%;
        margin: 0 auto;
        padding-bottom: 30%;
        display: flex;
        padding-top: 2%;
    }

    .buildMap4D .top {
        padding-top: 29%;
    }

        .buildMap4D .top .more {
            font-family: 'UTM Avo';
            font-size: 48px;
            color: #4882dc;
        }

        .buildMap4D .top .build {
            font-family: 'UTM Avo';
            font-size: 48px;
        }

    .buildMap4D .rowbottom .boxBuild {
        display: flex;
        margin-bottom: 10px;
    }

        .buildMap4D .rowbottom .boxBuild .img {
            box-shadow: 0px 20px 50px 0px rgba(16, 25, 255, 0.20);
            background-color: #fff;
            border-radius: 15px;
        }

            .buildMap4D .rowbottom .boxBuild .img .content {
                padding: 10px 15px 12px 15px;
            }

                .buildMap4D .rowbottom .boxBuild .img .content .divImg {
                    border-radius: 5px;
                    background-color: blue;
                    width: 45px;
                    height: 45px;
                }

                .buildMap4D .rowbottom .boxBuild .img .content .contentRight .name {
                    font-size: 14.43px;
                    font-family: MYRIADPRO-REGULAR;
                }

                .buildMap4D .rowbottom .boxBuild .img .content .contentRight .cmt {
                    font-size: 9.92px;
                    font-family: MYRIADPRO-REGULAR;
                    color: #c3c3c3;
                }



@media only screen and (max-width: 1276px) {
}

@media only screen and (max-width: 1033px) {
    .buildMap4D .top .more {
        font-size: 40px;
    }

    .buildMap4D .top .build {
        font-size: 40px;
    }

    .buildMap4D .rowbottom .boxBuild .img .content {
        padding: 10%;
    }
}

@media only screen and (max-width: 860px) {
    .buildMap4D .top .more {
        font-size: 32px;
    }

    .buildMap4D .top .build {
        font-size: 32px;
    }
}

@media only screen and (max-width: 767px) {
    .buildMap4D .rowbottom .boxBuild {
        padding-bottom: 5%;
    }

    .buildMap4D .rowbottom {
        width: 80%;
    }

        .buildMap4D .rowbottom .boxBuild .img {
            margin: 0 auto;
        }

    .buildMap4D .top {
        padding-left: 1%;
    }
}

@media only screen and (max-width: 625px) {
    .buildMap4D .top .more {
        font-size: 20px;
    }

    .buildMap4D .top .build {
        font-size: 20px;
    }
}

@media only screen and (max-width: 576px) {

    .buildMap4D .rowbottom {
        width: 100%;
    }
}
