@font-face {
    font-family: 'Montserrat-Bold';
    src: url('../../../fonts/Montserrat-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'MyriadPro-Light';
    src: url('../../../fonts/MyriadPro-Light.otf') format('opentype');
}

@font-face {
    font-family: 'UTM Avo';
    src: url('../../../fonts/UTM Avo.ttf') format('truetype');
}
@font-face {
    font-family: 'UTM Avo';
    src: url('../../../fonts/UTM Avo.ttf') format('truetype');
}

.bg {
    background-image: url("../img/under-contruction-page_0000s_0006_Vector-Smart-Object.png");
    height: 735px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding-top: 2px;
}



    .bg .p2 {
        font-family: 'UTM Avo';
        line-height: normal;
        font-size: 42px;
        text-align: center;
        padding-top:12%;
        color: #FFFFFF;
    }


    .bg .p3 {
        font-family: MyriadPro-Light;
        line-height: normal;
        font-size: 16px;
        text-align: center;
        color: #FFFFFF;
    }

@media only screen and (max-width:1149px) {
    .bg .p2 {
        font-size: 80px;
    }

    .bg .p3 {
        font-size: 20px;
    }
}

@media only screen and (max-width:1122px) {
    .bg .p {
        font-size: 16px;
    }
}

@media only screen and (max-width:1021px) {
    .bg .p2 {
        font-size: 70px;
    }
}

@media only screen and (max-width:690px) {
    .bg p {
        font-size: 16px;
        padding-top: 50%;
    }

    .bg .p2 {
        font-size: 44px;
    }

    .bg .p3 {
        font-size: 16px;
    }
}

@media only screen and (max-width:447px) {
    .bg p {
        font-size: 15px;
        padding-top: 70%;
    }
}
