@font-face {
    font-family: 'UTM Avo';
    src: url('../../../fonts/UTM Avo.ttf') format('truetype');
}

@font-face {
    font-family: 'MYRIADPRO-REGULAR';
    src: url('../../../fonts/MYRIADPRO-REGULAR.woff') format('woff');
}


@font-face {
    font-family: 'MyriadPro-BlackSemiCn';
    src: url('../../../fonts/MyriadPro-BlackSemiCn.otf') format('opentype');
}

.createMobileApps {
    background-image: url("/Content/Client/img/icon-page-1_0006_Grey-Bg_Repair2.png");
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 auto;
}

    .createMobileApps .left {
        padding-bottom: 28%;
    }

        .createMobileApps .left .content {
            padding-left: 35%;
            padding-top: 59%;
        }

            .createMobileApps .left .content .create {
                font-family: 'utm avo';
                padding-left: 6%;
                font-weight: normal;
                color: #1a6ad9;
                font-size: 48px;
            }

            .createMobileApps .left .content .mobileapps {
                padding-left: 6%;
                font-family: 'utm avo';
                font-weight: normal;
                font-size: 48px;
            }

            .createMobileApps .left .content .contrary {
                padding-left: 6%;
                padding-right: 6%;
                font-family: 'MYRIADPRO-REGULAR';
                font-size: 18px;
                font-weight: normal;
                color: #919191;
            }

    .createMobileApps .right .imgPhone {
        width: 100%;
        margin-top: 4%;
        margin-bottom: 30%;
    }

@media only screen and (max-width: 1200px) {
    .createMobileApps .left .content {
        padding-left: 20%;
        padding-top: 45%;
    }
}

@media only screen and (max-width: 992px) {
    .createMobileApps .left .content .imgIP {
        width: 40%;
    }

    .createMobileApps .left .content .create {
        font-size: 40px;
    }

    .createMobileApps .left .content .mobileapps {
        font-size: 40px;
    }

    .createMobileApps .left .content .contrary {
        font-size: 14px;
    }
}

@media only screen and (max-width: 768px) {
    .createMobileApps .left .content {
        padding-left: 5%;
        padding-top: 17%;
    }

        .createMobileApps .left .content .imgIP {
            width: 24%;
        }

        .createMobileApps .left .content .create {
            font-size: 32px;
            padding-left: 0%;
            text-align: center;
            margin-top: 0%;
        }

        .createMobileApps .left .content .mobileapps {
            font-size: 32px;
            margin-top: 0%;
            padding-left: 0%;
            text-align: center;
        }

        .createMobileApps .left .content .contrary {
            font-size: 14px;
            padding-left: 5%;
            text-align: center;
            padding-right: 5%;
        }

    .createMobileApps .left .content {
        text-align: center;
        padding-left: 0%;
        padding-right: 0%;
        display: block;
    }

    .createMobileApps .left {
        padding-bottom: 0%;
    }

    .createMobileApps .right .imgPhone {
        margin-bottom: 20%;
        width: 60%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}



@media only screen and (max-width: 635px) {
    .createMobileApps .left .content .create {
        font-size: 20px;
    }

    .createMobileApps .left .content .mobileapps {
        font-size: 20px;
    }

    .createMobileApps .left .content .contrary {
        font-size: 12px;
    }
}
