.createMobileApps {
    background-image: url("/Content/Client/img/icon-page-1_0006_Grey-Bg_Repair22.png");
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 auto;
    background-position: 74%;
}

    .createMobileApps .left {
        padding-bottom: 28%;
    }

        .createMobileApps .left .content {
            padding-left: 20%;
            padding-top: 20%;
        }

            .createMobileApps .left .content .tittle {
                font-family: 'utm avo';
                padding-left: 5%;
                font-weight: normal;
                color: #1a6ad9;
                font-size: 25.51px;
                padding-bottom: 0px;
                margin-bottom: 0px;
            }

            .createMobileApps .left .content .webmobile {
                font-family: 'utm avo';
                padding-left: 5%;
                font-weight: normal;
                color: #1a6ad9;
                font-size: 25.51px;
                padding-bottom: 4%;
            }

            .createMobileApps .left .content .contrary {
                padding-left: 5%;
                padding-right: 25%;
                font-family: 'Myriad Pro';
                font-size: 15.59px;
                font-weight: normal;
                color: #919191;
                text-align: justify;
            }

    .createMobileApps .right .imgPhone {
        width: 93%;
        margin-bottom: 48%;
    }

@media only screen and (max-width: 1200px) {
    .createMobileApps .left .content {
        padding-left: 20%;
    }
}


@media only screen and (max-width: 992px) {
    .createMobileApps .left .content .imgIP {
        width: 40%;
    }
}


@media only screen and (max-width: 768px) {
    .createMobileApps .left .content {
        padding-top: 0%;
        padding-left: 5%;
    }

        .createMobileApps .left .content .imgIP {
            width: 24%;
        }

    .createMobileApps .left .content {
        text-align: center;
        padding-left: 0%;
        padding-right: 0%;
        display: block;
    }

        .createMobileApps .left .content .webmobile {
            padding-left: 0%;
        }
        .createMobileApps .left .content .tittle {
            padding-left: 0%;
        }

    .createMobileApps .left {
        padding-bottom: 0%;
    }

    .createMobileApps .right .imgPhone {
        margin-bottom: 22%;
        width: 60%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0%;
    }

    .createMobileApps .left .content .contrary {
        padding-left: 13%;
        padding-right: 15%;
        text-align: center;
    }

    .createMobileApps .left .content .webmobile {
        padding-bottom: 1%;
    }
}

@media only screen and (max-width: 435px) {
    .createMobileApps .left .content .contrary {
        font-size: 12px;
    }

    .createMobileApps .left .content .tittle {
        font-size: 22px;
    }

    .createMobileApps .left .content .webmobile {
        font-size: 22px;
    }
}
