@font-face {
    font-family: 'UTM Avo';
    src: url('../../../fonts/UTM Avo.ttf') format('truetype');
}

@font-face {
    font-family: 'MYRIADPRO-REGULAR';
    src: url('../../../fonts/MYRIADPRO-REGULAR.woff') format('woff');
}

.direction {
    width: 100%;
    background-image: url("/content/client/img/icon-page-1_0004_blue-bg_repair.png");
    margin: 0 auto;
    background-size: cover;
    background-position: 37%;
    background-repeat: no-repeat;
    border-bottom-left-radius: 50% 5%;
    border-bottom-right-radius: 50% 5%;
    margin-top: -19%;
}

    .direction .right .content {
        padding-top: 58%;
        padding-left: 14%;
        padding-bottom: 30%;
    }

        .direction .right .content .direction1 {
            color: #fff;
            font-family: 'UTM Avo';
            font-size: 48px;
            padding-left: 6%;
        }

        .direction .right .content .gettherefaster {
            font-family: 'UTM Avo';
            font-size: 48px;
            color: #fff;
            padding-left: 6%;
        }

        .direction .right .content .contrary {
            font-family: 'MYRIADPRO-REGULAR';
            font-size: 18px;
            color: #fff;
            padding-left: 6%;
            padding-right: 36%;
        }

@media only screen and (max-width: 1200px) {
    .direction .right .content .contrary {
        padding-right: 16%;
    }
}

@media only screen and (max-width: 992px) {

    .direction .right .content .direction1 {
        font-size: 40px;
    }

    .direction .right .content .gettherefaster {
        font-size: 40px;
    }

    .direction .right .content .contrary {
        font-size: 14px;
    }

    .direction .right .content .img {
        width: 40%;
    }
}

@media only screen and (max-width: 768px) {
    .direction {
        background-position: center;
    }

        .direction .right .content {
            padding-left: 0%;
            padding-top: 30%;
        }

            .direction .right .content .direction1 {
                font-size: 32px;
                padding-right: 2%;
                padding-left: 2%;
            }

            .direction .right .content .gettherefaster {
                font-size: 32px;
            }

            .direction .right .content .contrary {
                font-size: 14px;
            }

            .direction .right .content .img {
                width: 50%;
            }

            .direction .right .content .contrary {
                padding-right: 6%;
            }

    .direction {
        margin-top: -14%;
    }
}

@media only screen and (max-width: 635px) {

    .direction {
        margin-top: -22%;
    }

        .direction .right .content .direction1 {
            font-size: 20px;
        }

        .direction .right .content .gettherefaster {
            font-size: 20px;
        }

        .direction .right .content .contrary {
            font-size: 12px;
        }
}

@media only screen and (max-width: 576px) {
    .direction .left {
        width: 50%;
    }

    .direction .right {
        width: 50%;
    }

    .direction {
        margin-top: -22%;
    }
}
