.direction {
    width: 100%;
    background-image: url("/content/client/img/icon-page-1_0004_blue-bg_repair4.png");
    margin: 0 auto;
    background-size: cover;
    background-position: 34%;
    background-repeat: no-repeat;
    /*border-bottom-left-radius: 50% 1cm;
    border-bottom-right-radius: 47% 2cm;*/
    margin-top: -19%;
}

    .direction .right {
        padding-left: 0%;
    }

        .direction .right .content {
            padding-top: 58%;
            padding-left: 28%;
            padding-bottom: 51%;
        }

            .direction .right .content .tittle {
                color: #fff;
                font-family: 'UTM Avo';
                font-size: 26px;
                padding-left: 6%;
                padding-bottom: 2%;
            }


            .direction .right .content .contrary {
                font-family: 'Myriad Pro';
                font-size: 16px;
                color: #fff;
                padding-left: 6%;
                padding-right: 19%;
                text-align: justify;
            }

@media only screen and (max-width: 1200px) {
    .direction .right .content .contrary {
        padding-right: 6%;
    }
}

@media only screen and (max-width: 992px) {
    .direction .right .content .img {
        width: 40%;
    }

    .direction {
        background-position: 50%;
    }

        .direction .right .content {
            padding-left: 0%;
        }
}

@media only screen and (max-width: 768px) {
    .direction {
        background-position: center;
        border-bottom-left-radius: 50% 5%;
        border-bottom-right-radius: 50% 5%;
    }

        .direction .right .content {
            padding-left: 0%;
            padding-top: 30%;
        }



            .direction .right .content .img {
                width: 50%;
            }

            .direction .right .content .contrary {
                padding-right: 6%;
            }

    .direction {
        margin-top: -22%;
    }
}

@media only screen and (max-width: 635px) {

    .direction {
        margin-top: -22%;
    }
}

@media only screen and (max-width: 576px) {
    .direction .left {
        width: 50%;
    }

    .direction .right {
        width: 50%;
    }

    .direction {
        margin-top: -22%;
    }
}

@media only screen and (max-width: 435px) {
    .direction .right .content .contrary {
        text-align: start;
        font-size: 14px;
    }

    .direction .right .content .tittle {
        font-size: 24px;
    }

    .direction {
        margin-top: -25%;
    }
}

@media only screen and (max-width: 380px) {
    .direction {
        margin-top: -28%;
    }
}
