.forgotpass {
    width: 100%;
    margin: auto;
    padding-top: 12%;
    padding-bottom: 8%;
}

    .forgotpass .boxforgot {
        flex: 0 0 27%;
        padding-right: 2%;
    }

    .forgotpass .divBottom {
        margin: auto;
        width: 100%;
    }

        .forgotpass .divBottom .have-account p {
            margin-top: 0.75rem;
        }

        .forgotpass .divBottom .have-account a {
            padding-left: 0%;
            color: #0df8c8;
            font-size: 14px;
            text-decoration: none !important;
            font-family: Myriad pro;
        }

            .forgotpass .divBottom .have-account a:hover {
                color: #1c20e5;
            }

/*css cho popup*/

.swal2-popup .swal2-title {
    font-family: 'UTM Avo';
    padding-left: 5% !important;
    font-size: 42px !important;
    font-weight: normal !important;
    padding-right: 5% !important;
}

.swal2-popup #swal2-content {
    font-size: 15px !important;
    line-height: 26px !important;
    font-family: Lato !important;
    font-style: normal !important;
    font-weight: normal !important;
}

.swal2-popup .swal2-actions {
    width: 70% !important;
}

.swal2-confirm {
    font-size: 14px !important;
    color: #1C2747 !important;
    font-family: Myriad pro;
    line-height: 19px;
    text-align: center;
}

.swal2-popup {
    width: 36em !important;
    padding: 3.25em !important;
}

@media only screen and (max-width: 1200px ) {
    .forgotpass .boxforgot {
        max-width: 100% !important;
    }

    .forgotpass .boxforgot {
        flex: 0 0 40%;
    }
}

@media only screen and (max-width: 1033px ) {
    .forgotpass {
        padding-top: 20%;
    }

    body {
        background-size: auto;
        background-repeat: repeat;
    }
}

@media only screen and (max-width: 960px ) {
    .forgotpass .boxforgot {
        flex: 0 0 50%;
    }
}

@media only screen and (max-width: 860px ) {

    .forgotpass .boxforgot {
        flex: 0 0 50%;
    }
}

@media only screen and (max-width: 625px ) {
    .forgotpass .boxforgot {
        flex: 0 0 60%;
    }
}

@media only screen and (max-width: 500px ) {
    .forgotpass {
        padding-top: 30%;
        padding-bottom: 10%;
    }

        .forgotpass .boxforgot {
            flex: 0 0 70%;
        }
}

@media only screen and (max-width: 350px ) {
    .forgotpass .boxforgot {
        flex: 0 0 90%;
    }
}
