body {
    background: #Fff;
    margin: 0;
    padding: 0;
}

input {
    line-height: 2 !important;
}

nav {
    background: #4B9DE9;
}

.forgot-password {
    margin: 15% 0 auto 0;
}

.form-forgot-password {
    margin-bottom: 16%;
    padding-bottom: 2%;
}

    .form-forgot-password h4 {
        font-family: UTM Avo;
        line-height: normal;
        font-size: 42px;
        text-align: center;
        color: #191A1B;
        padding-bottom: 3%;
        margin-top: 6%;
    }

    .form-forgot-password .forgot-title {
        margin-bottom: 8px;
    }

    .form-forgot-password span {
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
    }

        .form-forgot-password span a {
            font-family: Lato;
            font-style: normal;
            font-weight: normal;
            line-height: 15px;
            font-size: 16px;
            color: red !important;
        }

#btn-forgot {
    font-family: Myriad pro;
    line-height: 19px;
    font-size: 14px;
    text-align: center;
    background: #0CF8C8;
    line-height: 2 !important;
}

    #btn-forgot:hover {
        background: #00cda3;
    }

.forgot-password .form-forgot-password .form-group a {
    font-family: Myriad Pro;
    line-height: 20px;
    font-size: 14px;
    color: #354052;
    text-decoration-line: underline;
}

    .forgot-password .form-forgot-password .form-group a:hover {
        text-decoration-line: none;
    }

#Email-error {
    display: block;
    background: #FFD9D9;
    border: 1px solid #FD0F0F;
    box-sizing: border-box;
    border-radius: 4px;
    margin-top: 5%;
    line-height: 28px;
    line-height: 36px;
    padding-left: 4%;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    line-height: 28px;
    font-size: 14px;
}

/*css cho popup*/

.swal2-popup .swal2-title {
    font-family: 'UTM Avo';
    padding-left: 5% !important;
    font-size: 42px !important;
    font-weight: normal !important;
    padding-right: 5% !important;
}

.swal2-popup #swal2-content {
    font-size: 15px !important;
    line-height: 26px !important;
    font-family: Lato-Regular !important;
    font-style: normal !important;
    font-weight: normal !important;
}

.swal2-popup .swal2-actions {
    width: 70% !important;
}

.swal2-confirm {
    font-size: 14px !important;
    color: black !important;
}

.swal2-popup {
    width: 36em !important;
    padding: 3.25em !important;
}

@media only screen and (max-width: 1033px) {
    .form-forgot-password h4 {
        font-size: 40px !important;
    }
}

@media only screen and (max-width: 860px) {
    .form-forgot-password h4 {
        font-size: 32px !important;
    }

    input {
        line-height: 1.5 !important;
    }

    #btn-forgot {
        line-height: 1.5 !important;
    }
}

@media only screen and (max-width: 767px) {
    .form-forgot-password {
        margin-top: 10%;
        margin-bottom: 60%;
    }

        .form-forgot-password h4 {
            font-size: 24px !important;
        }

    form {
        margin: auto;
        max-width: 78%;
    }
}

@media only screen and (max-width: 500px) {
    .form-forgot-password {
        margin-top: 20%;
    }

    form {
        margin: auto;
        max-width: 100%;
    }
}

@media only screen and (max-width:375px) {
    .form-forgot-password {
        margin-bottom: 66%;
    }
}
