@font-face {
    font-family: 'Roboto-Regular';
    src: url('/fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'UTM AvoBold';
    src: url('/fonts/UTM AvoBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto-Light';
    src: url('/fonts/Roboto-Light.ttf') format('truetype');
}

#menu-top nav {
    background: #3597e4;
}

#pricing {
    margin-left: 0;
    margin-right: 0;
    padding-top: 12%;
    padding-bottom: 5%;
    background-image: url("/Content/Client/img/price-bg.png");
}

    #pricing .row {
        margin-left: 0;
        margin-right: 0;
    }

    #pricing .pricing-title {
        margin-bottom: 3%;
    }

        #pricing .pricing-title h2 {
            font-family: 'UTM Avo';
            font-size: 46px;
            color: #20338a;
        }

        #pricing .pricing-title p {
            font-family: Myriad Pro;
            line-height: normal;
            font-size: 16px;
            margin-bottom: 0;
            margin-top: 1%;
        }

            #pricing .pricing-title p span {
                color: #f72758;
            }
.prircing-content .title {
    background: #4264fb;
    color: white;
    height: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

    .prircing-content .title p {
        font-family: 'Myriad Pro';
        font-size: 20px;
        margin: 0 auto;
    }

.box-item {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.9) 52.49%, rgba(255, 255, 255, 0.15) 100%);
    padding: 0;
    border: 1px solid #E6EAEE;
    box-sizing: border-box;
    border-radius: 4px;
}

    .box-item b {
        text-transform: uppercase;
        font-family: UTM Avo;
        line-height: normal;
    }

.header {
    height: 40px;
}

    .header > p {
        font-family: UTM Avo;
        line-height: 35px;
        font-size: 18px;
    }

.price {
    padding: 0;
}

    .price > div {
        border-bottom: 1px solid #C0C4C7;
        padding-top: 5%;
    }

    .price h5 {
        font-family: UTM Avo;
        line-height: normal;
        font-size: 25px;
        margin-bottom: -2%;
    }

    .price h3 {
        font-family: UTM AvoBold;
        line-height: normal;
        font-size: 42px;
        color: #4264FB;
        font-weight: bold;
    }

    .price p {
        font-family: Myriad Pro;
        line-height: 20px;
        font-size: 14px;
        color: #354052;
    }

.price-left {
    border-right: 1px solid #C0C4C7;
}

#support .price > div {
    padding-top: 10%;
}

.descript {
    margin-top: 20px;
    padding-left: 4%;
    padding: 0;
}

    .descript h5 {
        font-family: UTM Avo;
        line-height: 20px;
        font-size: 16px;
        font-weight: bold;
        text-transform: uppercase
    }

#support .descript h5 {
    text-align: center;
}

.descript small {
    font-family: Myriad Pro;
    line-height: 20px;
    font-size: 14px;
    color: #4264FB;
}

.descript label, .service label {
    font-family: Myriad Pro;
    line-height: 20px;
    font-size: 14px;
    margin-bottom: 0;
}

.descript span {
    font-family: Myriad Pro;
    line-height: 20px;
    font-size: 14px;
    padding-left: 5%;
}

.descript ul {
    list-style: none;
    padding-top: 1%;
    padding-left: 5%;
    font-size: 14px;
}

.list-style li {
    padding-left: 1.3em;
}

    .list-style li::before {
        content: "+ ";
        display: inline-block;
        margin-left: -1.3em;
        width: 1.3em;
    }

#more-information .content p {
    padding-top: 15%;
    width: 80%;
    margin: auto;
    font-family: Myriad Pro;
    line-height: 20px;
    font-size: 14px;
    text-align: justify;
    color: #354052;
}

@media only screen and (max-width: 1033px) {

    #pricing {
        padding-top: 18%;
    }

        #pricing .pricing-title h2 {
            font-size: 40px;
        }

    .header > p {
        font-size: 16px;
    }

    .price h5 {
        font-size: 23px;
    }

    .price h3 {
        font-size: 38px;
    }
}

@media only screen and (min-width: 991px) {
    #basic {
        max-width: 45% !important;
    }

    #support {
        max-width: 24% !important;
    }

    #more-information {
        max-width: 24% !important;
    }
}

@media only screen and (max-width: 991px) {

    #pricing {
        margin-top: 10%;
    }

    #basic {
        max-width: 68% !important;
        flex: 0 0 65%;
    }

    #support {
        max-width: 32% !important;
        flex: 0 0 32%;
    }

    #more-information {
        display: none;
    }
}

@media only screen and (max-width: 860px) {
    #pricing .pricing-title h2 {
        font-size: 36px;
    }
    #pricing .pricing-title p {
        width:90% !important;
        margin:auto;
    }

@media only screen and (max-width: 767px) {
    #pricing {
        margin-top: 15%;
    }

    #basic {
        max-width: 100% !important;
        flex: 0 0 100%;
    }

    #support {
        max-width: 100% !important;
        flex: 0 0 100%;
        margin-top: 5%;
    }
}
@media only screen and (max-width: 525px){
    .header span{
        display: none;
    }
}
/*


@media only screen and (max-width: 991px) {
    #pay {
        max-width: 100%;
        flex: auto;
    }

    #behind {
        display: none;
    }
}

@media only screen and (max-width: 860px) {
    #pricing .pricing-title h2 {
        font-size: 36px;
    }
}

@media only screen and (max-width: 767px) {

    #pricing {
        padding-top: 24%;
    }
    #pay hr {
        width: 100%;
    }

    .box-price .price {
        text-align: center;
    }

    .box-price .descript, .box-price .service {
        padding-left: 24%;
    }

        .box-price .service h5 {
            margin-bottom: 1%;
        }

    .responsive-hidden {
        display: none;
    }
}

@media only screen and (max-width: 625px) {

    #pricing {
        padding-top: 30%;
    }
}

@media only screen and (max-width: 475px) {

    #pricing {
        padding-top: 38%;
    }

    .box-price .descript, .box-price .service {
        padding-left: 15%;
    }
}*/
