.webApp {
    background-image: url("/Content/Client/img/page-2_0000_Layer-3.png");
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 auto;
    width: 100%;
    background-position: 70%;
}

    .webApp .left .content {
        padding-left: 25%;
        padding-top: 20%;
    }

        .webApp .left .content .tittle {
            font-family: 'utm avo';
            padding-left: 5%;
            font-weight: normal;
            color: #ffffff;
            font-size: 44px;
        }

        .webApp .left .content .contrary {
            padding-left: 5%;
            padding-right: 45%;
            font-family: 'Myriad Pro';
            font-size: 14px;
            font-weight: normal;
            color: #ffffff;
            padding-bottom: 38%;
        }

    .webApp .right .imgPhone {
        width: 93%;
        margin-bottom: 48%;
    }

@media only screen and (max-width: 1200px) {
    .webApp .left .content {
        padding-left: 20%;
    }
}

@media only screen and (max-width: 1033px) {
    .webApp .left .content .imgIP {
        width: 33%;
    }
}

@media only screen and (max-width: 992px) {
    /*.webApp .left .content .imgIP {
        width: 33%;
    }*/

    .webApp {
        background-size: cover;
    }

        .webApp .left .content .imgIP {
            margin-top: 50px;
        }

        .webApp .left .content .contrary {
            font-size: 14px;
            padding-bottom: 16%;
            padding-right: 0%;
        }
}

@media only screen and (max-width: 860px) {
    .webApp .left .content .tittle {
        font-size: 32px;
    }
}

@media only screen and (max-width: 767px) {
    .webApp .left .content {
        padding-top: 0%;
        padding-left: 5%;
    }

        .webApp .left .content .imgIP {
            width: 20%;
            padding-left: 4%;
        }

    .webApp .left .content {
        padding-left: 0%;
        padding-right: 0%;
        display: block;
    }

        .webApp .left .content .webmobile {
            padding-left: 0%;
        }

        .webApp .left .content .tittle {
            padding-left: 5%;
        }

    .webApp .left {
        padding-bottom: 0%;
    }

    .webApp .right .imgPhone {
        margin-bottom: 22%;
        width: 60%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0%;
    }

    .webApp .left .content .contrary {
        padding-right: 45%;
        text-align: left;
    }

    .webApp .left .content .webmobile {
        padding-bottom: 1%;
    }

    .webApp {
        background-position: center;
    }
}

@media only screen and (max-width: 576px) {
    .webApp .left .content .imgIP {
        width: 35%;
    }
}

@media only screen and (max-width: 435px) {

    .webApp .left .content .tittle {
        font-size: 22px;
    }

    .webApp {
        background-position: center;
    }
}
