@font-face {
    font-family: 'SourceSansPro-Regular';
    src: url('../../../fonts/SourceSansPro-Regular.ttf') format('truetype');
}

body {
    background-color: #4B9DE9;
}

#menu-top #menu-recommend {
    visibility: hidden;
}

.title-register {
    color: #fff;
    height: 25px;
}

    .title-register p {
        font-size: 16px;
    }

.registerUser {
    width: 100%;
    margin: auto;
    padding-top: 12%;
    padding-bottom: 8%;
}

    .registerUser h2 {
        color: #fff;
        font-family: 'UTM Avo';
        font-size: 44px;
        padding-bottom: 2%;
    }

    .registerUser .boxRegister {
        flex: 0 0 28%;
    }

        .registerUser .boxRegister .input {
            line-height: 30px;
            border-radius: 4px;
            margin: auto;
        }

    .registerUser .divBottom {
        margin: auto;
        width: 100%;
    }

        .registerUser .divBottom .have-account a {
            padding-left: 0%;
            color: #0df8c8;
            font-size: 16px;
            text-decoration: underline;
            font-family: SourceSansPro-Regular;
        }

        .registerUser .divBottom button {
            background-color: #0df8c8;
            border-radius: 4px;
            margin-top: 4%;
            line-height: 30px;
        }

            .registerUser .divBottom button:hover {
                background-color: #00cfa5;
            }

.have-account {
    margin-top: 6%;
    color: #fff;
    font-size: 14px;
}

    .have-account span a {
        text-decoration: none !important;
    }

#UserName-error {
    display: block;
    background: #FFD9D9;
    border: 1px solid #FD0F0F;
    box-sizing: border-box;
    border-radius: 4px;
    margin-top: 12px;
    text-align: left;
    line-height: 36px;
    padding-left: 4%;
}

#Password-error {
    display: block;
    background: #FFD9D9;
    border: 1px solid #FD0F0F;
    box-sizing: border-box;
    border-radius: 4px;
    margin-top: 12px;
    text-align: left;
    line-height: 36px;
    padding-left: 4%;
}

#Email-error {
    display: block;
    background: #FFD9D9;
    border: 1px solid #FD0F0F;
    box-sizing: border-box;
    border-radius: 4px;
    margin-top: 12px;
    text-align: left;
    line-height: 36px;
    padding-left: 4%;
}

#footer {
    background-image: none;
}

#menu-top nav .collapse ul li #btn-register {
    display: none;
}

@media only screen and (max-width: 1200px ) {
    .registerUser .boxRegister {
        max-width: 100% !important;
    }

    .registerUser .boxRegister {
        flex: 0 0 40%;
    }
}


@media only screen and (max-width: 1033px ) {
    .registerUser h2 {
        font-size: 40px;
    }

    .registerUser .boxRegister .input {
        margin-bottom: 5% !important;
        font-size: 15px;
    }

    body {
        background-size: auto;
        background-repeat: repeat;
    }
}

@media only screen and (max-width: 960px ) {
    .registerUser .boxRegister {
        flex: 0 0 50%;
    }
}

@media only screen and (max-width: 860px ) {

    .registerUser h2 {
        font-size: 32px;
    }

    .registerUser .boxRegister {
        flex: 0 0 50%;
    }
}


@media only screen and (max-width: 600px ) {
    .registerUser {
        padding-top: 27%;
    }

        .registerUser h2 {
            font-size: 28px;
        }

        .registerUser .boxRegister {
            flex: 0 0 60%;
        }
}

@media only screen and (max-width: 530px ) {
    .registerUser {
        padding-bottom: 10%;
    }

        .registerUser .divBottom a {
            font-size: 14px;
        }

        .registerUser .divBottom button {
            font-size: 14px;
        }

    .have-account {
        padding-bottom: 5%;
        font-size: 14px;
    }

    .registerUser .boxRegister {
        flex: 0 0 70%;
    }
}

@media only screen and (max-width: 350px ) {
    .registerUser .boxRegister {
        flex: 0 0 90%;
    }
}
