@font-face {
    font-family: 'SourceSansPro-Regular';
    src: url('../../../fonts/SourceSansPro-Regular.ttf') format('truetype');
}

body {
    background-image: url('../img/Dang ky.png');
    background-repeat: no-repeat;
    background-size: cover;
}

#menu-top #menu-recommend {
    visibility: hidden;
}

.registerUser {
    width: 100%;
    margin: auto;
    padding-top: 14%;
    padding-bottom: 24%;
}

    .registerUser h2 {
        color: #fff;
        font-family: 'UTM Avo';
        font-size: 44px;
        padding-bottom: 4%;
    }

    .registerUser .boxRegister {
        margin: auto;
    }

        .registerUser .boxRegister .input {
            line-height: 36px;
            border-radius: 8px;
            margin: auto;
        }

    .registerUser .divBottom {
        margin: auto;
        width: 100%;
    }

        .registerUser .divBottom a {
            padding-left: 0%;
            color: #0df8c8;
            font-size: 16px;
            text-decoration: underline;
            font-family: SourceSansPro-Regular;
        }

        .registerUser .divBottom button {
            background-color: #0df8c8;
            border-radius: 20px;
        }

            .registerUser .divBottom button:hover {
                background-color: #00cfa5;
            }

#footer {
    background-image: none;
    margin-top: -7%;
}

#menu-top nav .collapse ul li #btn-register {
    display: none;
}

@media only screen and (max-width: 1033px ) {
    .registerUser h2 {
        font-size: 40px;
    }

    .registerUser .boxRegister .input {
        margin-bottom: 5% !important;
        /*line-height: 40px;*/
        font-size: 18px;
    }

    #footer {
        margin-top: -12%;
    }
}

@media only screen and (max-width: 860px ) {
    .registerUser {
        padding-bottom: 38%;
    }

        .registerUser h2 {
            font-size: 32px;
        }

        .registerUser .boxRegister .input {
            line-height: 24px;
        }
}


@media only screen and (max-width: 600px ) {
    .registerUser {
        padding-top: 27%;
    }

        .registerUser h2 {
            font-size: 28px;
        }

        .registerUser .boxRegister .input {
            line-height: 20px;
            font-size: 14px;
        }
}

@media only screen and (max-width: 530px ) {
    .registerUser {
        padding-bottom: 55%;
    }

    #footer {
        margin-top: -22%;
    }

    .registerUser .divBottom a {
        font-size: 12px;
    }

    .registerUser .divBottom button {
        font-size: 12px;
    }
}

@media only screen and (max-width: 376px) {
    .registerUser .divBottom a {
        font-size: 12px;
    }

    .registerUser .divBottom button {
        font-size: 12px;
    }
}
