@font-face {
    font-family: 'SourceSansPro-Regular';
    src: url('../../../fonts/SourceSansPro-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'MyriadPro-Light';
    src: url('../../../fonts/MyriadPro-Light.otf') format('opentype');
}

body {
    background-color: #4B9DE9;
}

#menu-top #menu-recommend {
    visibility: hidden;
}

.title-register {
    color: #fff;
    height: 25px;
    margin-bottom: 0.75rem;
}

    .title-register p {
        font-family: 'Lato';
        font-size: 15px;
    }

.registerUser {
    width: 100%;
    margin: auto;
    padding-top: 12%;
    padding-bottom: 8%;
}

    .registerUser h2 {
        color: #fff;
        font-family: 'UTM Avo';
        font-size: 42px;
        padding-bottom: 2%;
    }

    .registerUser .boxRegister {
        flex: 0 0 27%;
    }

        .registerUser .boxRegister .input {
            line-height: 2;
            border-radius: 4px;
            margin: auto;
        }

    .registerUser .divBottom {
        margin: auto;
        width: 100%;
    }

        .registerUser .divBottom .have-account a {
            padding-left: 0%;
            color: #0df8c8;
            font-size: 14px;
            text-decoration: underline;
            font-family: SourceSansPro-Regular;
        }

        .registerUser .divBottom button {
            background-color: #0df8c8;
            border-radius: 4px;
            margin-top: 4%;
            line-height: 2;
        }

            .registerUser .divBottom button:hover {
                background-color: #00cfa5;
            }

.have-account {
    margin-top: 0.75rem;
    color: #fff;
    font-size: 14px;
    font-family: MyriadPro-Light;
}

    .have-account span a {
        font-family: MyriadPro-Light;
        text-decoration: none !important;
    }

.registerUser .divBottom .have-account a:hover {
    color: #1c20e5;
}

#DisplayName-error, #UserName-error, #Password-error, #ConfirmPassword-error, #Email-error {
    display: block;
    background: #FFD9D9;
    border: 1px solid #FD0F0F;
    box-sizing: border-box;
    border-radius: 4px;
    margin-top: 12px;
    text-align: left;
    padding-left: 4%;
    line-height: 32px;
    font-family: Lato;
    font-size: 14px;
}

#footer {
    background-image: none;
}

#menu-top nav .collapse ul li #btn-register {
    display: none;
}

@media only screen and (max-width: 1200px ) {
    .registerUser .boxRegister {
        max-width: 100% !important;
    }

    .registerUser .boxRegister {
        flex: 0 0 40%;
    }
}


@media only screen and (max-width: 1033px ) {
    .registerUser {
        padding-top: 20%;
    }

        .registerUser h2 {
            font-size: 40px;
        }

        .registerUser .boxRegister .input {
            margin-bottom: 5% !important;
            font-size: 15px;
        }

    body {
        background-size: auto;
        background-repeat: repeat;
    }
}

@media only screen and (max-width: 960px ) {
    .registerUser .boxRegister {
        flex: 0 0 50%;
    }
}

@media only screen and (max-width: 860px ) {

    .registerUser h2 {
        font-size: 32px;
    }

    .registerUser .boxRegister {
        flex: 0 0 50%;
    }

        .registerUser .boxRegister .input {
            line-height: 1.5;
        }

    .registerUser .divBottom button {
        line-height: 1.5;
    }
}


@media only screen and (max-width: 625px ) {
        h1{
            padding-bottom:5%;
        }
        .registerUser h2 {
            font-size: 24px;
        }

        .registerUser .boxRegister {
            flex: 0 0 60%;
        }
}

@media only screen and (max-width: 500px ) {
    .registerUser {
        padding-top: 30%;
    }

    .registerUser {
        padding-bottom: 10%;
    }

        .registerUser .divBottom a {
            font-size: 14px;
        }

        .registerUser .divBottom button {
            font-size: 14px;
        }

    .have-account {
        padding-bottom: 5%;
        font-size: 14px;
    }

    .registerUser .boxRegister {
        flex: 0 0 70%;
    }
}

@media only screen and (max-width: 350px ) {
    .registerUser .boxRegister {
        flex: 0 0 90%;
    }
}
