.scroll-to-top {
    position: fixed;
    bottom: -50px;
    right: 15px;
    opacity: 0;
    width: 45px;
    height: 45px;
    color: #ffffff;
    font-size: 20px;
    line-height: 45px;
    text-align: center;
    z-index: 99;
    cursor: pointer;
    background: #1c60d1;
    border-radius: 50%;
    box-shadow: 0px 13px 20px 2px rgba(0, 0, 0, 0.21);
    transition: 0.5s;
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 3s infinite;
}

    .scroll-to-top.show {
        bottom: 15px;
        opacity: 1;
    }

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-30px);
    }

    60% {
        transform: translateY(-15px);
    }
}

.scroll-to-top:hover {
    color: white;
    background: #4dabea;
    animation: none;
}


#footer {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    background-image: url('../img/icon-page-1_0024_header-notice-.png');
}

    #footer p, #footer a {
        font-family: 'Myriad Pro';
        font-size: 22px;
        color: white;
        padding-top:2%;
        padding-bottom:1%;
    }

@media only screen and (max-width: 1033px) {
    #footer p, #footer a {
        font-size: 18px;
    }
}

@media only screen and (max-width: 860px) {
    #footer p, #footer a {
        font-size: 16px;
    }
}

@media only screen and (max-width: 767px) {
    .scroll-to-top {
        width: 35px;
        height: 35px;
        font-size: 18px;
        line-height: 35px;
    }
}
