@font-face {
    font-family: 'Myriad Pro Light';
    src: url('/fonts/MyriadPro-Light.otf') format('opentype');
}
@font-face {
    font-family: 'UTM Avo';
    src: url('/fonts/UTM Avo.ttf') format('truetype');
}

@font-face {
    font-family: 'Myriad pro';
    src: url('/fonts/MYRIADPRO-REGULAR.OTF') format('opentype');
}
#menu-top {
    margin: auto 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    transition: 0.5s;
}

    #menu-top #menu-recommend {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #1079ef;
        color: white;
        height: 55px;
    }

        #menu-top #menu-recommend span {
            margin: auto 8px;
        }


    #menu-top a {
        color: white;
    }

        #menu-top a:hover {
            color: black;
        }

    #menu-top nav {
        padding-left: 5%;
        color: white;
        transition: 0.5s;
        font-family: 'Myriad Pro Light';
        font-size: 18px;
    }

        #menu-top nav .logo {
            transition: 0.3s;
        }

            #menu-top nav .logo a {
                background-image: linear-gradient(to bottom left, #0b4ebf, #498af8);
                border-radius: 15px;
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 90px;
                height: 90px;
                background-size: cover;
                position: absolute;
                right: 30%;
                top: -60px;
                box-shadow: 0px 13px 45px 2px rgba(0, 0, 0, 0.21);
                transition: 0.5s;
            }

            #menu-top nav .logo.sticky a {
                width: 50px;
                height: 50px;
                top: -25px;
            }

        #menu-top nav.bg-color {
            background: #3597e4;
        }

        #menu-top nav #list-menu-top {
            transition: 0.5s;
            margin-left:5%;
        }

        #menu-top nav button {
            color: white;
        }

        #menu-top nav .collapse ul .space-item {
            margin: auto 2% auto 2%;
        }


        #menu-top nav .collapse ul li #btn-register {
            background: #0cf8c8;
            color: black;
            width: 120px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 30px;
            box-shadow: 0px 13px 45px 2px rgba(0, 0, 0, 0.21);
            transition: 0.5s
        }

            #menu-top nav .collapse #btn-register:hover {
                background: #00cda3;
            }
#menu-language {
    margin-top: 8px;
    color: black;
    margin-bottom:2%;
}

    #menu-language img {
        width: 25px;
        height: 15px;
    }

    #menu-language a {
        margin-left: 10px;
        color: black;
    }

#languages {
    background: #409fe7;
    border: 1px solid #cbcbcb;
    box-shadow: 0px 13px 45px 2px rgba(0, 0, 0, 0.21);
    max-height: 200px;
    overflow: scroll;
    overflow-x: auto
}

    #languages button:hover {
        background: #8ac9f8;
    }

    #languages::-webkit-scrollbar {
        width: 5px;
    }

    /* Track */
    #languages::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px white;
        border-radius: 10px;
    }

    /* Handle */
    #languages::-webkit-scrollbar-thumb {
        background: white;
        border-radius: 10px;
    }

        /* Handle on hover */
        #languages::-webkit-scrollbar-thumb:hover {
            background: #AAAAAA;
        }

#btn-menu {
    border: 1px solid white;
    padding-top: 1%;
    padding-bottom: 1%;
}

@media only screen and (max-width: 1280px) {
    #menu-top nav .logo {
        max-width: 22%;
    }
}
@media only screen and (max-width: 1190px) {

    #menu-top nav #list-menu-top {
        margin-left: 0;
    }
}

@media only screen and (max-width: 1120px) {
    #menu-top nav .logo {
        max-width: 18%;
    }

    #menu-top nav .collapse ul .space-item {
        margin: auto;
    }

}

@media only screen and (max-width: 991px) {
    #menu-top nav .logo a {
        left: 10%;
        right: 0;
        top: -50px;
    }

    #menu-top nav .collapse #btn-signin {
        margin-left: 0;
        width: 150px;
        height: 40px;
    }

    .space-item {
        display: none;
    }

    #menu-top nav #list-menu-top {
        margin-top: 3%;
        padding-left: 2%;
    }
    #languages {
        max-height: 140px;
    }
        
}

@media only screen and (max-width: 710px) {
    #menu-top nav .logo a {
        width: 60px;
        height: 60px;
    }

    #menu-top nav #list-menu-top {
        margin-top: 0;
    }
}

@media only screen and (max-width: 600px) {
    #menu-top #menu-recommend span {
        font-size: 12px;
    }

    #menu-top nav .logo a {
        width: 50px;
        height: 50px;
        top: -40px;
    }
}
@media only screen and (max-width: 590px) {
    #btn-menu {
        padding-top: 2%;
        padding-bottom: 2%;
    }
}

#wrapper {
    margin-left: 0;
    margin-right: 0;
}
